<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ввод данных</title>
</head>
<body>
<h2>Ввдите данные для расчета кредита</h2>
<form method="POST" action="result">
  <label>Сумма кредита</label><br>
  <input type="number" name="sum" /><br><br>
  <label>Срок кредита(в месяцах)</label><br>
  <input type="number" name="age" /><br><br>
  <label>Процентная ставка(без знака %)</label><br>
  <input type="number" name="percent" /><br><br>
  <input type="submit" value="Расcчитать" />
</form>
</body>
</html>
